<div class="container mt-3">

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h5>Github user search</h5>
                </div>
                <div class="card-body">
                    <form class="form-inline" (submit)="searchUser()"  #gitForm='ngForm' name="gitForm">
                        <div class="form-group ">
                            <input type="search" [(ngModel)]='namePassed' name="user" class="form-control" placeholder="github user">
                            
                            

                        </div>
                        <div>
                            <input type="submit" value="search" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                
            </div>
            
        </div>
        
    </div>

    <div class="row">
        <div class="col">
            <app-github-profile [user]="user">
                
            </app-github-profile>
        </div>
    </div>
        <div class="row">
            <div class="col">
                <app-github-repos [githubRepos]="githubRepos">

                </app-github-repos>
            </div>
        </div>



<div *ngIf="githubRepos" class="card mt-4">
    <div class="card-header bg-dark text-white">
        <h4>Github Repositories</h4>

    </div>

    <div class="card-body">
        <ul class="list-group">
            <li *ngFor="let repo of githubRepos" class="list-group d-flex justify-content-between">
                <a [href]="repo.html_url" class="text-primary" target="blank">name:{{repo.name}}</a>
                <span class="badge badge-success">star</span>
                <p>{{repo.description}}</p>
            </li>
        </ul>
    </div>
</div>


</div>
